@page "/results"
@using NonStdQuery.Client.Services
@using NonStdQuery.Backend.Representation.Data

@inject CurrentSelection CurrentSelection

<button @onclick="@Execute">Execute</button>

@if (_executionResult != null)
{
    <table>
        <tbody>
            @foreach (var row in _executionResult.Data)
            {
                <tr>
                    @foreach (var field in row)
                    {
                        <td>@field</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

<button @onclick="@Explain">Explain</button>

@if (_explanationResult != null)
{
    <div class="container">
        <div class="col-lg-6">
            <fieldset class="border">
                <legend class="text-center">SQL</legend>

                <p id="innerPara">
                    @_explanationResult.Sql
                </p>
            </fieldset>
        </div>
    </div>
}

@code
{
    private ExecutionResult _executionResult;
    private ExplanationResult _explanationResult;

    private async Task Execute()
    {
        _executionResult = await CurrentSelection.Execute();
    }

    private async Task Explain()
    {
        _explanationResult = await CurrentSelection.Explain();
    }
}
